html {
    color: rgb(255, 255, 255);
    background-image: url(https://przemec.github.io/Novum/assets/images/app.png);
    font-family: Bahnschrift;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

hr {
    animation-name: widen;
    animation-duration: 1.5s;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

img:hover {
    animation-name: sizeup;
    animation-duration: 0.5s;
    cursor: pointer;
    width: 220px;
    height: 220px;
}

img:click {
    animation-name: rotateimg;
    animation-duration: 1s;
    transform: rotate(360deg);
}

#rick {
    -webkit-filter: blur(30px);
    filter: blur(30px);
}

#backmario {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@keyframes widen {
    from{width: 0%;}
    to{width: 100%;}
}

@keyframes sizeup {
    from{width: 200px;height: 200px;}
    to {width: 220px;height: 220px;}
}

@keyframes rotateimg {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
