html {
    color: rgb(255, 255, 255);
    background-image: url(https://przemec.github.io/Novum/assets/images/app.png);
    font-family: Bahnschrift;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

hr {
    animation-name: widen;
    animation-duration: 2s;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

@keyframes widen {
    from{width: 0%;}
    to{width: 100%;}
}
